@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}
* {
  border: 0;
  padding: 0;
  margin: 0;
}
main {
  width: 100%;
  background-color: #e0eae8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overall-div {
  width: 1296px;
  height: 90vh;
  gap: 30px;
  border-radius: 25px;
  opacity: 0px;
  display: flex;
  box-sizing: border-box;
  background-color: #ffffff;
}
#sideBar {
  width: 244px;
  height: calc(100%-10px);
  padding: 24px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #3e8076;
}
.flexbox {
  display: flex;
  gap: 10px;
  text-decoration: none;
}
.nav1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#sideBar p {
  color: #ffffff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
button {
  background-color: transparent;
  cursor: pointer;
}
.sign-out {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.sign-out button {
  color: #ffffff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.users-table {
  width: 899px;
  height: calc(100%-10px);
  padding: 10px;
  position: relative;
}
.title-header h1 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}
.title-header p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}
.title-header {
  padding: 20px 0px 20px;
}
.all-users {
  width: calc(100% -10px);
  height: 70.5vh;
  opacity: 0px;
  padding: 0px 20px 20px 20px;
}
#see-allBtn {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}
.user-section {
  width: 827px;
  height: 225px;
  opacity: 0px;
  overflow: hidden;
  padding: 0px 10px;
}
.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 100px;
}
.pendding h3 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  color: #d61e1e;
}
.user h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.profie-dv {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  opacity: 0px;
  background: #3e8076;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 6px;
}
.user button {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  text-decoration: underline;
}
.belowbtn {
  display: flex;
  gap: 10px;
}
.users {
  display: grid;
  grid-template-columns: auto auto auto;
}
.review-button {
  border: 1px solid #000000;
  width: 50px;
  height: 20px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 4px;
  text-decoration: none !important;
}
.view-profile-div {
  position: absolute;
  top: 40px;
  display: none;
}
.view-profile-div.active {
  display: block;
}
.veiw-profile {
  width: 790px;
  height: 520px;
  padding: 6px 24px 6px 24px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  background: #e0eae8;
  position: relative;
}
* {
  padding: 0;
  margin: 0;
}
.flex-div {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  gap: 10px;
}
.box {
  width: 200px;
  height: fit-content;
  padding: 3px;
  border: 1px solid #00000080;
}
.flex-div p {
  width: 150px;
}
.proof-img {
  display: flex;
  flex-direction: column;
}
.box {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
.proof-img button {
  background: transparent;
  margin-top: 6px;
  border: 0;
  font-family: Inter;
  font-size: 12px;
  font-style: italic;
}
.view-p-cancel-button {
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.profile-title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px 0px 10px;
}
.profile-inner {
  width: 150px;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0px;
  background: #3e8076;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.profile-inner h2 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
.profile-inner p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.profile-details {
  display: flex;
  justify-content: space-between;
}
.delete-section {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 20px;
}
#delete-userbtn,
#cancel-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 130px;
  height: 30px;
  padding: 3px;
  gap: 6px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #000000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
}
.edit-profile-screen{
    position: absolute;
    top: 40px;
    display: none;
    left: 50%;
    transform: translateX(-50%);
}
.edit-profile-screen.activate{
    display: block;
}
.edit-profile {
  position: relative;
  width: 900px;
  height: 520px;
  padding: 12px 10px 10px 24px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  background: #e0eae8;
}
.edit-form {
  width: calc(780px -10px);
  height: 370px;
  padding: 20px;
  overflow-y: scroll;
}
.view-p-cancel-button2 {
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.profile-title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px 0px 10px;
}
.profile-inner {
  width: 150px;
  height: 80px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  opacity: 0px;
  background: #3e8076;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.profile-inner h2 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
.profile-inner p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.user-names {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-box input,
select {
  padding: 8px;
  border: 1px solid #00000080;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.phone-input-container {
  position: relative;
}
.phone-number-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
}
.dropdown {
  width: fit-content;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
  display: none;
  max-height: 150px;
  overflow-y: auto;
}
.dropdown div {
  padding: 8px;
  cursor: pointer;
}
.dropdown div:hover {
  background-color: #f0f0f0;
}
.currency-input-container {
  position: relative;
  width: 100%;
}
.currency-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.proof-div {
  display: flex;
  align-items: center;
  gap: 80px;
  padding-top: 10px;
}
.view-image {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.belowbox {
  width: 250px;
}
.view-image button {
  font-family: Inter;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}
.update-div {
  display: flex;
  justify-content: center;
  padding-top: 48px;
}
.form-edit label {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.form-edit button {
  background: none;
  border: 0;
  cursor: pointer;
}
#update-button {
  width: 130px;
  height: 30px;
  padding: 10px;
  gap: 6px;
  border-radius: 6px;
  border: 1px solid #000000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
