@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}
* {
  border: 0;
  padding: 0;
  margin: 0;
}
main {
  width: 100%;
  background-color: #e0eae8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overall-div {
  width: 1296px;
  height: 90vh;
  gap: 30px;
  border-radius: 25px;
  opacity: 0px;
  display: flex;
  box-sizing: border-box;
  background-color: #ffffff;
}
#sideBar {
  width: 244px;
  height: calc(100%-10px);
  padding: 24px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #3e8076;
}
.flexbox {
  display: flex;
  gap: 10px;
  text-decoration: none;
}
.nav1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#sideBar p {
  color: #ffffff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
button {
  background-color: transparent;
  cursor: pointer;
}
.sign-out {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.sign-out button {
  color: #ffffff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.users-table {
  width: 899px;
  height: calc(100%-10px);
  padding: 10px;
  position: relative;
}
.title-header h1 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}
.title-header p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}
.title-header {
  padding: 20px 0px 20px;
}
.all-users {
  width: calc(100% -10px);
  height: 90%;
  opacity: 0px;
  padding: 0px 20px 20px 20px;
}
#see-allBtn {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}
.user-section {
  width: 827px;
  height: 225px;
  opacity: 0px;
  overflow-y: scroll;
  padding: 0px 10px;
}
.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 100px;
}
.pendding h3 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  color: #d61e1e;
}
.user h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.profie-dv {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  opacity: 0px;
  background: #3e8076;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 6px;
}
.user button {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  text-decoration: underline;
}
.belowbtn {
  display: flex;
  gap: 10px;
}
.users {
  display: grid;
  grid-template-columns: auto auto auto;
}
.review-button {
  border: 1px solid #000000;
  width: 50px;
  height: 20px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 4px;
  text-decoration: none !important;
}
.view-new-user,
.view-profile-div {
  position: absolute;
  top: 40px;
  display: none;
}
.view-profile-div.active {
  display: block;
}
.veiw-profile {
  width: 790px;
  height: 520px;
  padding: 6px 24px 6px 24px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  background: #e0eae8;
  position: relative;
}
* {
  padding: 0;
  margin: 0;
}
.view-new-user.newUser-active {
  display: block;
}
.flex-div {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  gap: 10px;
}
.box {
  width: 200px;
  height: fit-content;
  padding: 3px;
  border: 1px solid #00000080;
}
.flex-div p {
  width: 150px;
}
.proof-img {
  display: flex;
  flex-direction: column;
}
.box {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
.proof-img button {
  background: transparent;
  margin-top: 6px;
  border: 0;
  font-family: Inter;
  font-size: 12px;
  font-style: italic;
}
.view-p-cancel-button {
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.profile-title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px 0px 10px;
}
.profile-inner {
  width: 150px;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0px;
  background: #3e8076;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.profile-inner h2 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
.profile-inner p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.profile-details {
  display: flex;
  justify-content: space-between;
}
.delete-section {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 20px;
}
#delete-userbtn,
#cancel-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 130px;
  height: 30px;
  padding: 3px;
  gap: 6px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #000000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
}
.edit-profile-screen {
  position: absolute;
  height: 100%;
  top: 0;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
}
.edit-profile-screen.activate {
  display: block;
}
.edit-profile {
  position: relative;
  width: 900px;
  height: fit-content;
  padding: 12px 10px 10px 24px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  background: #e0eae8;

}
.edit-form {
  width: calc(780px -10px);
  height: fit-content;
  padding: 20px;
}
.view-p-cancel-button2 {
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.profile-title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px 0px 10px;
}
.profile-inner {
  width: 150px;
  height: 80px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  opacity: 0px;
  background: #3e8076;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.profile-inner h2 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
.profile-inner p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.user-names {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-box input,
select {
  padding: 8px;
  border: 1px solid #00000080;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.phone-input-container {
  position: relative;
}
.phone-number-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
}
.dropdown {
  width: fit-content;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
  display: none;
  max-height: 150px;
  overflow-y: auto;
}
.dropdown div {
  padding: 8px;
  cursor: pointer;
}
.dropdown div:hover {
  background-color: #f0f0f0;
}
.currency-input-container {
  position: relative;
  width: 100%;
}
.currency-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.proof-div {
  display: flex;
  align-items: center;
  gap: 80px;
  padding-top: 10px;
}
.view-image {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.belowbox {
  width: 250px;
}
.view-image button {
  font-family: Inter;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}
.update-div {
  display: flex;
  justify-content: center;
  padding-top: 48px;
}
.form-edit label {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.form-edit button {
  background: none;
  border: 0;
  cursor: pointer;
}
#update-button {
  width: 130px;
  height: 30px;
  padding: 10px;
  gap: 6px;
  border-radius: 6px;
  border: 1px solid #000000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  width: fit-content;
  height: fit-content;
  gap: 0px;
  opacity: 0px;
  padding-left: 10px;
}
.user-transactions {
  position: absolute;
  top: 0;
  z-index: 5000000000;
  display: none;
}
.user-transactions.userHistory-active {
  display: block;
}
.user-transactions .innerflex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.user-transactions .innerflex button {
  background: none;
  border: none;
  cursor: pointer;
}
.user-transactions .outer-div {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 180px;
  box-sizing: border-box;
  height: 585px;
  background-color: #e0eae8;
  padding: 10px;
  border-radius: 25px;
  overflow-y: scroll;
}
.table-box1 {
  display: flex;
  flex-direction: row;
  gap: 74px;
}
table {
  width: 100%;
  box-sizing: border-box;
}
.table-img {
  width: 200px;
}
.background-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  align-items: center;
  gap: 24px;
  height: 360px;
  gap: 0px;
  margin-right: 24px;
  border-radius: 6px;
  opacity: 0.8px;
  background-image: url(image/unsplash_gEu8u_cvi4A.svg);
  background-size: cover;
  text-align: center;
  margin-top: 40px;
}
.background-content {
  width: 90%;
  height: fit-content;
}
.background-content h1 {
  padding-bottom: 100px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.background-content p {
  font-family: PT Serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.25px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
tr {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  align-items: center;
}
.head {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.head .type {
  padding-right: 64px;
  text-align: left;
}
.head .amount {
  padding-left: 148px;
}
.head .status {
  padding-left: 131px;
  padding-right: 65px;
}
td img {
  padding-right: 13px;
}
.head .amount-td {
  padding-left: 78px;
  padding-right: 75px;
}
.head .status-td {
  margin-right: 40px;
}
table h3,
td {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  text-align: left;
}
table p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
}
.table {
  width: fit-content;
  height: fit-content;
  gap: 0px;
  opacity: 0px;
  padding-left: 10px;
}

.update-transaction-history {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  display: none;
  overflow-y: scroll;
}
.update-transaction-history.updateHistory-active {
  display: block;
}
.update-transaction-history .innerflex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.update-transaction-history .innerflex button {
  background: none;
  border: none;
  cursor: pointer;
}
.update-transaction-history .outer-div {
  width: fit-content;
  box-sizing: border-box;
  height: fit-content;
  background-color: #e0eae8;
  padding: 10px;
  border-radius: 25px;
  position: relative;
}
.actionBar {
  width: 150px;
  text-align: right;
}
.actionBar button {
  cursor: pointer;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding: 6px;
  border: 1px solid #000000;
}
.change-update {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}
.change-update button {
  cursor: pointer;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 14.4px;
  padding: 6px;
  border: 1px solid #000000;
}

.view-transaction-option {
  width: 100%;
  position: absolute;
  z-index: 999999999999;
  display: none;
  top: 0;
  height: 100%;
  overflow: scroll;
  left: 0;
}
.view-transaction-option.optionScreen-active {
  display: block;
}
.transaction-option {
  width: 100%;
  height: fit-content;;
  padding: 24px;
  gap: 12px;
  opacity: 0px;
  box-sizing: border-box;
  background: #e0eae8;
}
.option-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.option-title h1 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}
.user-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: left;
}
.userOpt-p {
  display: flex;
  gap: 80px;
  justify-content: left;
}
.userOpt-p p {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #000000 !important;
}
.optionBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.optionButton {
  display: flex;
  gap: 18px;
}
.optionButton button {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  width: 92px;
  height: 20px;
  padding: 6px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  justify-content: center;
  border: 1px solid #000000;
}
.create-screen {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.create-screen.createScreen-active {
  display: block;
}
.create-container {
  width: 500px;
  height: 540px;
  padding: 12px 24px 12px 24px;
  background: #e0eae8;
  border: 2px solid #3e8076;
}
.cancelCreate {
  display: flex;
  justify-content: right;
}
.create-title h1 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  padding-bottom: 40px;
}
.input-details {
  display: flex;
  justify-content: space-between;
}
.input-details input {
  width: 260px;
  padding: 0;
  padding: 10px;
  border: 1px solid #000000;
}
.input-details select {
  padding: 0;
  margin: 0;
  width: 282px;
  padding: 10px;
  gap: 10px;
  border: 1px solid #000000;
  opacity: 0px;
}
.create-history form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-content: center;
}
.creatbutton-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.creatBtn {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  width: 130px;
  height: 36px;
  background: #3e8076;
  color: #ffff;
  border: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
footer {
  display: none;
}
.image-div {
  display: none;
}
.sideBar-XBtn{
  display: none;
}
.inner-header{
  display: none;
}
@media screen and (max-width: 720px) {
  #sideBar {
    height: fit-content;
    position: absolute;
    right: 0;
    height: 100vh;
    z-index: 999999;
    gap: 80px;
    padding: 10px;
    top: 8px;
    width: 50%;
    display: none;
  }
  .sideBar-XBtn{
    display: block;
  }
  #sideBar.sidebar-activate{
    display: block;
  }
  .nav1{
    height: 100%;
    gap: 90px;

  }
  body {
    height: fit-content;
  }
  .image-div {
    width: 100%;
    display: block;
  }
  .image-div img {
    width: 100%;
  }
  .overall-div {
    width: 100%;
    justify-content: center;
    height: fit-content;
    border-radius: 0;
    padding: 0;
    margin: 0;
    position: relative;
  }
  .transaction-option{
    width: 100%;
    height: fit-content;
    border-radius: 0;
    box-sizing: border-box;
  }
  .transaction-container{
    height: fit-content;
    width: 80%;
  }
  .all-users{
    position: relative;
    padding: 0px;
    padding: 10px;
  }
  .view-transaction-option{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  .view-profile-div{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    left: 0;
    top: 0;
    border-radius: 0;
  }
  .profile-details{
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .veiw-profile{
    border-radius: 0;
  }
  .edit-profile-screen{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translateX(0);
    overflow-y: scroll;
  }
  .edit-form, .form-edit{
    width: 100%;
  }
 
  .form-edit{
    width: 100%;
    height: 100%;
  }
  .edit-form{
    padding: 0;
    height: fit-content;
  }
  .user-names{
    width: 100%;
    flex-direction: column;
  }
  .form-box{
    width: 100%;
  }
  .update-div{
    width: 100%;
    justify-content: center;
  }
  .input{
    width: 100%;
  }
  .edit-profile{
    width: 100%;
    padding: 0;
    padding: 10px;
    border-radius: 0;
    box-sizing: border-box;
    height: fit-content;
   
  }
  .profile-title{
    width: 100%;
  }
  .flex-div{
    width:100%;
    box-sizing: border-box;
   justify-content: space-between;
  }
  .option-title{
    width: 100%
  }
  .option-title h1{
    color: #000000;
  }
  .transaction-option{
    width: calc(100% -20px);
  }
  .user-list{
    width: 100%;
  }
  .user-transactions{
    width: 100%;
    height: 100%;
    overflow: scroll;
    top: 0;
    box-sizing: border-box;
    left: 0;
  }
  .veiw-profile{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 0;
  }
  .user-transactions .outer-div{
   height: fit-content;
    border-radius: 0;
  }
  .update-transaction-history{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: scroll;
    box-sizing: border-box;
  }
 .update-transaction-history .outer-div{
  width: fit-content;
  height: fit-content;
  border-radius: 0;
 }
.view-new-user{
  width: 100%;
  left: 0;
  top: 0;
}
  .header {
    background-color: #3e8076;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 24px;
  }
  .inner-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .adminProfile img{
    width: 24px;
    height: 24px;
  }
  .adminProfile{
    cursor: pointer;
  }
  .title-header p, h1{
    color: #ffffff;
    padding-left: 20px;
  }

  .sideBarBox{
    display: flex;
    text-wrap: nowrap;
    justify-content: space-between;
    padding-top: 30px;
  }
  .adminProfile{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .users-table {
    width: 100%;
    height: fit-content;
    padding: 0;
  }
  main {
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
  }
  .user-section {
    width: 100%;
    padding: 0;
    border-bottom: 4px solid #3e8076;
  }
  .users {
    overflow: hidden;
    grid-template-columns: auto auto;
    height: fit-content;
    width: 100%;
    padding: 0;
    justify-content: space-between;
  }
  footer {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: block;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: calc(100% -20px);
  }
  .contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
  }
  .contentBox img {
    width: 24px;
    height: 24px;
  }
  .contentBox p {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: -0.01em;
    text-align: center;
    text-decoration: none;
    color: #2D3648;
  }
  .pendding{
    padding-top: 30px;
  }
  #see-allBtn{
    padding-top: 30px;
  }
 
}
@media screen  and (max-width: 450px){
  .header{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  #sideBar{
    width: 75%;
    height: 100vh;
  }
  .nav1{
    height: 95%;
    box-sizing: border-box;
  }
  .option-title h1{
    font-size: 16px;
  }
  .userOpt-p p{
    font-size: 14px;
    text-wrap: nowrap;
  }
  .userOpt-p{
    gap: 20px;
  }
  .transaction-option{
    width: fit-content;
    padding: 0;
    padding: 10px;
    box-sizing: border-box;
  }
  .optionBox{
    gap: 20px;
  }
}
