@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.form-input {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
}
form {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
input,
select {
  width: 100%;
  height: 48px;
  border: 1px solid black;
  padding: 10px;
}
.dropdown {
  width: fit-content;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
  display: none;
  max-height: 150px;
  overflow-y: auto;
}
#checkbox{
  cursor: pointer;
}
#currency div {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.currency-input-container {
  position: relative;
  width: 100%;
}
.currency-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
#amount {
  height: 46px;
  padding: 0;
  margin: 0;
  border-left: 0;
  background-color: #ffffff;
}
label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 8px;
  padding-left: 0;
}
.third-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  padding: 13.5px 10px;
  align-items: center;
}
.p2 {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}
.agreement-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
#checkbox {
  width: 24px;
  height: 24px;
}
.next {
  width: 163px;
  height: 34px;
  opacity: 0px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  border-radius: 25px;
  background-color: #191919;
  align-content: center;
}
.deposit-container {
  display: flex;
  flex-direction: row;
  height: 48px;
  align-items: center;
  flex-shrink: 0;
}
.submitbtn {
  outline: none;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  background-color: transparent;
  color: #ffff;
}
@media screen and (max-width: 1280px) {
  body {
    width: 100%;
  }
  .flex {
    flex-direction: column;
    padding: 15px 15px;
    width: 100%;
    box-sizing: border-box;
  }
  .first-div img {
    display: block;
    width: 100%;
  }
  .first-div h1 {
    display: none;
  }
  .img-container {
    width: 100%;
    height: 450px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .first-div,
  .second-div {
    width: 100%;
    height: 150px;
  }
  .second-div {
    width: 95%;
  }
  .form-container,
  form,
  input,
  option,
  select {
    width: 100%;
  }
  h3.title {
    padding-left: 24px;
  }
  .p2 {
    padding-top: 6px;
  }
}
@media screen and (max-width: 600px) {
  .img-container {
    width: 100%;
    height: 280px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px;
  }
  .first-div,
  .second-div {
    width: 100%;
    height: 130px;
    padding: 12px;
    box-sizing: border-box;
  }
  .first-div img {
    display: block;
  }
  .first-div h1 {
    display: none;
  }
  .first-div h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
  }
  .first-div p {
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
  }
  .second-div h4 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
  }
  .second-div span {
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 12.35px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .second-div img {
    height: 16px;
    width: 16px;
  }
  .second-div h6 {
    font-family: PT Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 7.76px;
  }
}
@media screen and (max-width: 380px) {
  .first-div h3 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
  }
  .second-div h4 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
  }
  .next {
    width: 120px;
  }
}
